version: "3.5"
services:
  nginx:
    image: nginx:1.15.5
    container_name: "nginx"
    ports:
      - 80:80/tcp
      - 443:443/tcp
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
      - ./public:/var/www/acme-challenge/ # root
  
  letsencrypt:
    image: certbot/certbot
    container_name: letsencrypt
    volumes:
      - ./public:/public # root
      - ./letsencrypt:/etc/letsencrypt
    environment:  
      - DOMAIN=
      - PUBLIC_PATH=/public
    tty: true
    command: sh -c "certonly --no-eff-email --agree-tos --webroot -w $$PUBLIC_PATH -d $$DOMAIN"
    